* {
    box-sizing: border-box;
}

html, body {
    min-height: 95vh;
    height: 99vh;
    font-family: monospace;
    font-size: 20px;
    margin: 0px;
}

.panel {
    position: absolute;
    background: rgba(200, 200, 200, 0.5);
    padding: 16px;
    display: block;
    width: fit-content;
    height: auto;
    top: 16px;
    left: 16px;
    text-align: start;
}

.panel > form > input[type="range"] {
    height: 16px;
}

.panel > form > input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 200px;
}

.panel > form > input[type="range"]::-webkit-slider-runnable-track {
    background-color: rgba(150, 150, 150, 0.5);
    border-radius: 0px;
    height: 16px;
}


.panel > form > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    margin-top: -2px; 
    background-color: rgb(150, 150, 150);
    border-radius: 0rem;
    height: 20px;
    width: 10px;
}

.panel > form > input[type="range"]::-moz-range-track {
    background-color: rgba(150, 150, 150, 0.5);
    border-radius: 0px;
    height: 16px;
}

.panel > form > input[type="range"]::-moz-range-thumb {
    background-color: rgb(150, 150, 150);
    border: none; 
    border-radius: 0rem;
    height: 20px;
    width: 10px;
}
